<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Hands</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
      *{
          font-family: Ubuntu;
          }
      *, :before,:after{
          box-sizing: border-box;
          }
      #ul{
          display: flex;
          flex-direction: row;
          }
      .nav-item{ 
          font-size: 17px; 
          text-decoration: none; 
          list-style-type: none;
          margin: 0 5px; 
      } 
      .nav-item > a{ 
          color: black; 
          text-decoration: none; 
          }
    </style>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navmenu">
          <span class="head-text">Code Hands</span>
          <div>
            <ul id="ul">
              <li class="nav-item"><a href="/">HOME</a></li>
              <li class="nav-item"><a href="/blogs">BLOGS</a></li>
              <li class="nav-item"><a href="/service">SERVICES</a></li>
              <li class="nav-item"><a href="/contact">CONTACTS</a></li>
              <li class="nav-item"><a href="/about">ABOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>