doctype html
html
  head
    title Krishna Dance Academy 
    //- This is how can i include CSS files to our template file.
    //- We have to give the path to our file otherwise it finds these files into its folder
    style
      include ../static/style.css
  body 
    
    //- this way we can give id and class any tag
    nav#navbar
        div#logo
                img(src="/static/logo.png", alt="logo")
                | KDA
        div#navItems
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Contact Us]
                li #[a(href="/") Class info]

    section#introSection 
        div Welcome to Krishna Dance Academy  
        div.subHead Eat > Dance > Sleep > Repeat 
    
    section#missionSection 
        h2 Our Mission 
        div.cardBox
            div.card
                h3 Bhangra
                div.cardItem
                    div.cardImg
                        img(src="/static/Dance-PNG-File-Download-Free.png", alt="")
                    div.cardCon
                        p Bhangra related to Punjab Region. This dance is Traditional Dance  of Punjab. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            div.card
                h3 Classical
                div.cardItem
                    div.cardImg
                        img(src="/static/Dance-PNG-Download-Image.png", alt="")
                    div.cardCon
                        p Indian Classical Dance is an umbrella term used for various performance arts rooted in musical theater.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            div.card
                h3 Hip-Hop 
                div.cardItem
                    div.cardImg
                        img(src="/static/Dance-PNG.png", alt="")
                    div.cardCon
                        p Hip-Hop dance is an umbrella term used to refer Street Dance performed on Hip-Hop Music. Lorem ipsum dolor sit amet consectetur adipisicing elit.

    section#sponsorsSection 
        h2 Our Sponsors 
        div#sponsors
            img(src="/static/fr.png", alt="sponsor", Class="spImage")
            img(src="/static/adidas.png", alt="sponsor", Class="spImage")
            img(src="/static/twitter.png", alt="sponsor", Class="spImage")
            img(src="/static/youtube.png", alt="sponsor", Class="spImage")
    
    footer#footer 
        | Copyright 2021
        div#logoFoot
            img(src="/static/Dance-PNG.png", alt="logo")
        | Krishna Dance Academy | All rights reserved  

    //- This is how can i include JS files to our PUG template file.
    script
      include ../static/index.js