<div>
<h2 class="heading">Welcome to <span>CodeWithHarry</span></h2>
<p class="para">I am Krishn Kumar and I am graducated from Kurukshetra University in Bachelor of Computer Applications. This is my Coding Blog here i post related to coding and technical stuff. This Blog has many articles which will provide you best guide at all  to all the latest technologies</p>
</div>