<div class="container-fluid mt-5" style="height:55rem" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About</h1>
        <p class="text-center text-shadow">We are ready to serve you</p>
        <div class="row contain">
          {{!-- left side --}}
        <div class="col-md-6 col-12 hero-text">
            <figure class="figure-about">
            <img src="images/about.svg" style="height:30rem;" alt="about image">
            </figure>
          </div>
          {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text d-flex justify-content-start align-items-start flex-column">
            <h1>DIGITAL GROCERY</h1>
            <h1>DAILY NEEDS AT YOUR DOOR STEP</h1>
            <p style="text-align: justify;">We are the team of <a href="/home" style="text-decoration: none;"><span class="bold-style" style="color: var(--font-color);">REDSACK</span></a> Welcome to your Digital Grocery Store here you can order any Daily Need Item in just 10sec and ordered item will be at your door step in few minutes. Our team is working for your convenience. <br>😉 Wish you have a Nice Day 😉</p>
            <button class="btn-style btn-primary">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>