<!DOCTYPE html>
<html lang="en">
<head>
{{>headmeta}}
</head>
{{>css}}
<body>
    <div class="body-box">
    {{!-- THIS COMPONENT IS IMPORTED FROM THE PARTIALS FOLDER
    WE CAN MAKE THIS TYPE OF COMPONENTS WHICH ARE GOING TO REPEAT IN EVERY PAGE
    WE JUST HAVE TO IMPORT USING FILE NAME LIKE BELOW  {{>FILE-NAME}} --}}
    {{>header}}
    <h1>Name :- {{name}}</h1>
    <h1>Phone :- {{phone}}</h1>
    Now we are watching the HTML file using Template Engine Handlebars (hbs)
    </div>

    {{!-- THIS FOOTER IS IMPORTED SAME AS THE HEADER --}}
    {{>footer}}
</body>
</html>