<h2 class="heading">Code Hands</h2>
<p class="para">I am Krishn Kumar and I am graducated from Kurukshetra University in BCA(Bachelor of Computer Applications). This is my Coding Blog here i post related to coding and technical stuff.</p>