<!DOCTYPE html>
<html lang="en">

<head>
    {{>meta}}
    {{>implinks}}
    {{>css}}
    <link rel="shortcut icon" href="images/weather_logo.png" type="image/png">
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    {{!-- RIGHT PORTION --}}
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="../images/3rd image.png" alt="MY Photo">
                        </figure>
                    </div>

                    {{!-- LEFT PORTION --}}     
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my Weather App</p>
                        <h1>I am a <span class="text-clr">Web Developer</span> Freelancer</h1>
                        <a href="https://indiandexter.com" target="_krishn"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>