<!DOCTYPE html>
<html lang="en">

<head>
    {{>meta}}
    {{>implinks}}
    {{>css}}
</head>
<body>
    {{>navbar}}
    {{>leftbox}}                    
    {{>rightbox}}
    {{>footer}}
</body>
</html>